/* Navigation bar*/
.navbar-brand img{
    width: 140px;
}
.bola{
    font-family: 'Henny Penny', cursive;
    font-size: 50px;
}
.sola{
    font-size: 40px;
}
  /* Carousel styling */
  #introCarousel,
  .carousel-inner,
  .carousel-item,
  .carousel-item.active {
    height: 100vh;
  }

  .carousel-item:nth-child(1) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .carousel-item:nth-child(2) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .carousel-item:nth-child(3) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .jumbotron p{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
  }
  .epistle p{
    line-height: 2.0;
    font-family: 'henry', sans-serif;
  }
/* Width  for devices less that 375px*/
@media(max-width: 414px){
    #introCarousel{
       margin-top:-58.59px ;
    }
    .sola{
        font-size: 16px;
    }
    .suberu img{
      width: 50%;
    }
    .bola{
      font-size: 15px;
    }
    .carousel-item video{
        width: 110%;
    }
    .carousel-item img{
      width: 120%;
    }
}
@media (width: 768px) {
  #introCarousel{
    margin-top:-59.59px ;
 }
}
  /* Height for devices larger than 576px */
  @media (min-width: 992px) {
    #introCarousel {
      margin-top: -58.59px;
    }
  }

  .navbar .nav-link {
    color: #fff !important;
  }
